dist
output
node_modules
package-lock.json
*.log

# IDE
.idea/
.vscode/

# macOS
._*
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?

# Windows
ehthumbs.db
Thumbs.db

# Nginx config
noname.nginx.conf
nginx-jump-server.example.conf